  <!-- Breadcrumb -->
  <div class="alice-bg padding-top-70 padding-bottom-70">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="breadcrumb-area">
            <h1>Payment Complete</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Payment Complete</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-6">
          <div class="breadcrumb-form">
            app-search
            <!--
          
              <app-search-form></app-search-form>
          -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <div class="alice-bg section-padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="block-wrapper">
            <div class="payment-result">
              <div class="icon">
                <i data-feather="check"></i>
              </div>
              <h3>You Unlocked <span>Starter</span> Package</h3>
              <p>Thanks for your order!</p>
              <div class="result">
                <span>Your payment has been processed successfully.</span>
              </div>
              <div class="w-100"></div>
              <a href="invoice.html" class="view-invoice">View Invoice</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
