<div
  class="modal fade"
  id="modal-personal-details"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="title">
          <h4><i class="fas fa-th-large"></i>Personal Details</h4>
        </div>
        <div class="content">
          <form
            [formGroup]="personalDetailsForm"
            (ngSubmit)="onClickSubmit(personalDetailsForm.value)"
          >
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Full Name</label>
              <div class="col-sm-9">
                <input
                  formControlName="fullName"
                  type="text"
                  class="form-control"
                  placeholder="Micheal N. Taylor"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Father’s Name</label>
              <div class="col-sm-9">
                <input
                  formControlName="fatherName"
                  type="text"
                  class="form-control"
                  placeholder="Howard Armour"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Mother’s Name</label>
              <div class="col-sm-9">
                <input
                  formControlName="motherName"
                  type="text"
                  class="form-control"
                  placeholder="Megan Higbee"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Date Of Birth</label>
              <div class="col-sm-9">
                <input
                  formControlName="dateOfBirth"
                  type="text"
                  class="form-control"
                  placeholder="22/08/1992"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nationality</label>
              <div class="col-sm-9">
                <input
                  formControlName="nationality"
                  type="text"
                  class="form-control"
                  placeholder="American"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Gender</label>
              <div class="col-sm-9">
                <input
                  formControlName="gender"
                  type="text"
                  class="form-control"
                  placeholder="Male"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Age</label>
              <div class="col-sm-9">
                <input
                  formControlName="age"
                  type="text"
                  class="form-control"
                  placeholder="25 Years"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Address</label>
              <div class="col-sm-9">
                <input
                  formControlName="address"
                  type="text"
                  class="form-control"
                  placeholder="2018 Nelm Street, Beltsville, VA 20705"
                />
              </div>
            </div>
            <div class="row">
              <div class="offset-sm-3 col-sm-9">
                <div class="buttons">
                  <button class="primary-bg">Save Update</button>
                  <button class="" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
