<div class="alice-bg padding-top-70 padding-bottom-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumb-area">
                    <h1>{{title}}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-form">
                    Enter Keywords
                    <!--<form action="#">
                        <input type="text" placeholder="Enter Keywords">
                        <button><i data-feather="search"></i></button>
                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="alice-bg section-padding-bottom">
    <div class="container no-gliters">
        <div class="row no-gliters">
            <div class="col">
                <div class="dashboard-container">
                    <div class="dashboard-content-wrapper">


                        <!-- contenu -->



                        <router-outlet></router-outlet>
                    </div>


                    <div class="dashboard-sidebar">
                        <div class="user-info">
                            <div class="thumb">
                                <img src="assets\images\user-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="user-body">
                                <h5>{{name}}</h5>
                                <span>{{username}}</span>
                            </div>
                        </div>
                        <div class="profile-progress">
                            <div class="progress-item">
                                <div class="progress-head">
                                    <p class="progress-on">Profile</p>
                                </div>
                                <div class="progress-body">
                                    <div class="progress">

                                        <div class="progress-bar" role="progressbar" style="width: 70%"
                                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="progress-to">70%</p>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-menu">
                            <ul>
                                <!--

 <li class="active"><i class="fas fa-home"></i><a href="dashboard.html">Dashboard</a>

                <li class="menu-item"><a routerLink="/candidate/dashboard">Dashboard</a></li>
                    <li class="menu-item"><a routerLink="/candidate/profil/edit">Edit Profile</a></li>
                    <li class="menu-item"><a routerLink="/candidates/add">Add Resume</a></li>
                    <li class="menu-item"><a routerLink="/candidate/profil/resume">Resume</a></li>
                    <li class="menu-item"><a routerLink="/candidate/profil/edit-resume">Edit Resume</a></li>
                    <li class="menu-item"><a routerLink="/candidate/dashboard/bookmark">Bookmarked</a></li>
                    <li class="menu-item"><a routerLink="/candidate/dashboard/applied">Applied</a></li>
                    <li class="menu-item"><a routerLink="/candidate/dashboard/pricing">Pricing</a></li>
                    <li class="menu-item"><a routerLink="/candidate/dashboard/message">Message</a></li>
                    <li class="menu-item"><a routerLink="/candidate/dashboard/alert">Alert</a></li>
                  </ul>

                                -->
                                <li><i class="fas fa-home"></i><a routerLink="/candidate/dashboard">Dashboard</a>
                                </li>
                                <li><i class="fas fa-user"></i><a routerLink="/candidate/profil/edit">Edit Profile</a>
                                </li>
                                <li><i class="fas fa-file-alt"></i><a routerLink="/candidate/profil/resume">Resume</a>
                                </li>
                                <li><i class="fas fa-edit"></i><a routerLink="/candidate/profil/edit-resume">Edit
                                        Resume</a></li>
                                <li><i class="fas fa-heart"></i><a
                                        routerLink="/candidate/dashboard/bookmark">Bookmarked</a></li>
                                <li><i class="fas fa-check-square"></i><a
                                        routerLink="/candidate/dashboard/applied">Applied Job</a>
                                </li>
                                <li><i class="fas fa-comment"></i><a
                                        routerLink="/candidate/dashboard/message">Message</a></li>
                                <li><i class="fas fa-calculator"></i><a
                                        routerLink="/candidate/dashboard/pricing">Pricing Plans</a>
                                </li>
                            </ul>
                            <ul class="delete">
                                <li><i class="fas fa-power-off" ></i><a (click)="logout()">Logout</a></li>
                                <li><i class="fas fa-trash-alt"></i><a href="#" data-toggle="modal"
                                        data-target="#modal-delete">Delete Profile</a></li>
                            </ul>
                            <!-- Modal -->
                            <div class="modal fade modal-delete" id="modal-delete" tabindex="-1" role="dialog"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h4><i class="fas fa-trash"></i>Delete Account</h4>
                                            <p>Are you sure! You want to delete your profile. This can't be undone!</p>


                                            <form [formGroup]="deleteForm" (ngSubmit)="deleteFormSubmit(deleteForm.value)">
                                                <div class="form-group">
                                                    <input formControlName="password" type="password"
                                                        class="form-control" placeholder="Enter password">
                                                </div>
                                                <div class="buttons">
                                                    <button class="delete-button" type="submit" >Save Update</button>
                                                    <button class="" type="reset">Cancel</button>
                                                </div>
                                                <div class="form-group form-check">
                                                    <input formControlName="terms" type="checkbox"
                                                        class="form-check-input" checked="">
                                                    <label class="form-check-label">You accepts our <a href="#">Terms
                                                            and Conditions</a> and <a href="#">Privacy
                                                            Policy</a></label>
                                                </div>
                                            </form>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>