  <!-- Breadcrumb -->
  <div class="alice-bg padding-top-70 padding-bottom-70">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="breadcrumb-area">
            <h1>How It Work</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">How It Work</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-6">
          <div class="breadcrumb-form">
            <app-search-form></app-search-form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- How It Work -->
  <div class="alice-bg section-padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="white-bg others-block">
            <div class="how-it-work">
              <div class="row">
                <div class="col-lg-6 order-lg-2">
                  <div class="working-process-thumb">
                    <img src="assets\images\feature\thumb-2.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                  <div class="working-process">
                    <h3><span>#01.</span>Create Account</h3>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over you need to be sure there isn't anything embarrassing.</p>
                  </div>
                  <div class="working-process">
                    <h3><span>#02.</span>Search Your Job</h3>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over you need to be sure there isn't anything embarrassing.</p>
                  </div>
                  <div class="working-process">
                    <h3><span>#03.</span>Apply For Job</h3>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over you need to be sure there isn't anything embarrassing.</p>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- How It Work End -->
