
    <div class="alice-bg section-padding">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-8">
              <div class="invoice-wrap">
                <div class="invoice">
                  <div class="invoice-header">
                    <div class="logo-area">
                      <img src="assets\images\logo.png" class="img-fulid" alt="">
                    </div>
                    <div class="title">
                      <span>I</span>
                      <span>N</span>
                      <span>V</span>
                      <span>O</span>
                      <span>I</span>
                      <span>C</span>
                      <span>E</span>
                    </div>
                  </div>
                  <div class="invoice-info">
                    <div class="left-info">
                      <h6>Invoice To</h6>
                      <span class="name">Roberto Carlos</span>
                      <p>320 Rainbow Building, Van Quan Ha Dong, New York City, N.Y.</p>
                    </div>
                    <div class="right-info">
                      <ul>
                        <li><span class="title">Invoice#</span><span>4569</span></li>
                        <li><span class="title">Date</span><span>22 / 12 / 2020</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="invoice-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Description</th>
                          <th scope="col">Price</th>
                          <th scope="col">VAT(15%)</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Starter Plan</td>
                          <td>$22.00</td>
                          <td>$5.00</td>
                          <td>$27.00</td>
                        </tr>
                        <tr>
                          <td>Starter Plan</td>
                          <td>$22.00</td>
                          <td>$5.00</td>
                          <td>$27.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="invoice-footer">
                    <div class="invoice-by">
                      <h4>Invoice By</h4>
                      <h6 class="name">Oficiona LTD.</h6>
                      <p>438 Rathdowne Road Carlton, Victoria 3001</p>
                      <div class="invoice-contact">
                        <span>support@yourmail.com</span>
                        <span>+99 125 4827 22</span>
                        <span><a href="#">www.Oficiona.com</a></span>
                      </div>
                    </div>
                    <div class="bill">
                      <ul>
                        <li><span class="title">Subtotal</span><span>$22.00</span></li>
                        <li><span class="title">VAT</span><span>15%</span></li>
                      </ul>
                      <div class="total">
                        <span>Total</span>
                        <span>$27.00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="invoice-print">
                  <a href="#"><i data-feather="printer"></i>Print Invoice</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  