
                <div class="alert-wrap">
                    <div class="jy-alert success-alert">
                      <div class="icon">
                        <i class="fas fa-check-circle"></i>
                      </div>
                      <p>Success!  You successfully read this important alert message.</p>
                      <div class="close_">
                        <a href="#"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                    <div class="jy-alert info-alert">
                      <div class="icon">
                        <i class="fas fa-check-circle"></i>
                      </div>
                      <p>Info!  This alert needs your attention, but it's not important.</p>
                      <div class="close_">
                        <a href="#"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                    <div class="jy-alert warning-alert">
                      <div class="icon">
                        <i class="fas fa-check-circle"></i>
                      </div>
                      <p>Warning!  Better check yourself, you're not looking too good. </p>
                      <div class="close_">
                        <a href="#"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                    <div class="jy-alert danger-alert">
                      <div class="icon">
                        <i class="fas fa-check-circle"></i>
                      </div>
                      <p>Danger!  Change a few things up and try submitting again. </p>
                      <div class="close_">
                        <a href="#"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  </div>
  
  